body {
	margin: 0;
	font-family: 'Raleway', sans-serif;
	font-size: 20px;
	background-color: blue;
}

*,
*:befor,
*:aftern {
	box-sizing: border-box;
}

/*======= Container =======================*/
.container {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
}

/*======= Header ==========================*/
.header {
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1000;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 38px 0;
	border-bottom: 1px solid #505369;
}


/*======= Nav ==============================*/
.nav {
	display: flex;
	font-size: 14px;
	font-weight: 700;
	font-family: 'Raleway', sans-serif;
	text-transform: uppercase;
}

.nav__link {
	font-size: 13px;
	font-weight: 700;
	color: #c0c1c9;
	text-decoration: none;
	margin-left: 50px;
	opacity: .75;
	transition: opacity .1s linear;
}

.nav__link:hover {
	color: #ffffff;
	opacity: 1;
}

.nav__link:first-child { margin-left: 0; }

/*======= Intro ==============================*/

.intro {
	height: 750px;
	position: relative;
	background: #2b2e48 url(../img/header-bg.png) center no-repeat / cover;
}